/* You can add global styles to this file, and also import other style files */

@import url('../node_modules/bootstrap/dist/css/bootstrap.css');

.unclickableTable {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}

.shipField {
    background: red !important;
}

.emptyField {
    background: grey !important;
}

.hidden {
    display: none;
}

table td {
    background: red;
}

.active {
    background: blue !important;
}